.footer {

    width: 100%;
    padding: 5%;
    background-color: var(--primary);;
    height: 300px;
    color: #fff;
    margin-top: 50px;
}

li {

    color:#fff;
}

.footer-left {

    display: flexbox;
    flex-direction: column;
    float: left;
    height: 100%;
    width: 40%;
    justify-content: space-between;
    margin: auto;
    margin-left: 100px;
    padding-top: 20px;
    border-style: dashed;
}

.footer-right {

    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
    float:right;
    border-style: dashed;
    width: 40%;
}

.logo {

    color: var(--primary);
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.bold-footer-link {

    font-size: 20.6px;
}