.hero-header {
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* border: 1px solid green; */
  margin-top: 50px;
  min-height: 200px;
}

.left {
  /* border: 1px solid rgb(128, 19, 0); */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  margin-bottom: 20px;
  font-weight: 400px;
  font-size: 2.5em;
}

.para {
  margin-bottom: 20px;
  width: 80%;
}

.input-container {
  border: 1px solid #c2cfe0;
  border-radius: 100px;
  display: inline-block;
  width: 80%;
  padding: 5px 5px 5px 10px;
  display: flex;
  justify-content: space-between;
}

.input-text {
  border: none;
}
::placeholder {
  color: #c2cfe0;
}

input:focus {
  outline: none;
}

.right {
  /* border: 1px solid rgb(128, 0, 117); */
  display: flex;
}

.img-container img {
  /* border: 1px solid rgb(0, 2, 128); */
  width: 90%;
  height: auto;
}
