.navbar-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 60px;
  border: 1px solid green;
  margin-top: 10px;
  margin-bottom: 20px;
}

.list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid rgb(128, 0, 21);
  /* width: 0%; */
}
.list > li {
  margin-right: 40px;
  color: var(--text-soft);
}

.bold-B {
  color: #fff;
  background-color: var(--primary);
  padding: 5px 10px;
  border-radius: 50%;
  margin-right: 5px;
}
.first-list {
  color: var(--text-bold);
  font-weight: bold;
}
