.navbar-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
  border: 1px solid green;
  margin-top: 30px;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(128, 0, 21);
  width: 60%;
}
.list li {
  margin-right: 10px;
}
.bold-B {
  color: #fff;
  background-color: var(--primary);
  padding: 5px 10px;
  border-radius: 50%;
  margin-right: 5px;
}
.first-list a {
  color: var(--text-bold);
  font-weight: bold;
}
